body{
    max-width: 960px;
}
div{
    margin : 1%;
    padding : 1%;  
    background:red;
    width: 92%;
    height: 5%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallBox{
    margin : 1%;
    width:44%;
    height: 20vw;
    float:left;
    position: relative; 
}


